<section>
    <div class='footer'>
        <ul>
          <li>
            <img src="./../../assets/images/logo.png" id='logo-footer' />
          </li>

          <li>
            <p id='site'>nitechacademy.com.br</p>
          </li>

          <li>
            <p id='dell'>Dell Lanches</p>
          </li>

          <li>
            <img src='./../../assets/images/linkedin.png' id='linkedin' />
          </li>

          <li>
            <img src="./../../assets/images/insta.png" id='insta' />
          </li>
        </ul>

      
  </div>
</section>
