@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;1,200;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.footer {
    position: absolute;
    display: inline;
    width: 100%;
    height: 52px;
    left: 0px;
    top: 690px;
    background: #ff8a00;
    border: 1px solid #FFFFFF;   
}

.footer li {
    display: inline-block;
    width: 20%;
    height: 10px;
    box-sizing: border-box;
}

.footer li #logo-footer {
    width: 40%;
    top: 4px;
    position: relative;
      
}

.footer li #linkedin {
    width: 20%;
    left: 270px;
    top: 4px;
    position: relative;
}

.footer li #insta {
    width: 16%;
    left: 100px;
    top: 4px;
    position: relative;  
}

#site {
    position: relative;
    top: 4px;
    left: -100px;
    font-family: 'alice';
    font-weight: 400;
    font-size: 16px;
    line-height: 18.29px;
    color: #000000;
}

#dell {
    position: relative;
    text-align: center;
    height: 20px;
    top: 5px;
    font-family: 'allura';
    font-weight: 400;
    font-size: 35px;
    line-height: 43.75px;
    color: #000000;
}