<div class="body">
  <a href="">Home</a><br />
  <a href="gerarPedido">Gerar Pedido</a><br />
  <a href="cadastrarProduto">Cadastrar Produto</a><br />
  <div class="caixa">
    <ul>
      <li id="logo-topo"><img src="./../../assets/images/logo.png" /></li>
      <li id="pedido">Pedido</li>
      <li id="cadastrar">Gerar Pedido</li>
    </ul>

    <div class="titulo">
      <h2>Cadastro de Produtos</h2>
    </div>

    <div class="formulario">
      <form>
        <label id="label-cod">Cód. Produto</label>
        <input type="text" id="cod-produto" />

        <label id="label-nome">Nome</label>
        <input type="text" id="nome" />

        <label id="label-preco">Preço</label>
        <input type="text" id="preco" />

        <label id="label-area">Descrição</label>
        <textarea></textarea>

        <input type="submit" id="cadastrar-produto" value="Cadastrar Produto" />

        <input type="submit" id="sair" value="Sair" />
      </form>
    </div>
  </div>

  <!-- <app-footer></app-footer> -->
</div>
