@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;1,200;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

.body {
    position: relative;
    width: 1367;
    height: 655px;
    margin-top: -10px;
    background-color: #FDFBFD;
}

.caixa {
    position: absolute;
    width: 1309px;
    height: 603px;
    margin: auto;
}

.caixa li {
    position: relative;
    display: inline;
    top: 20px;
}

#logo-topo {
    position: relative;
    display: inline-block;
    margin-right: 800px; 
   
}

#logo-topo img {
width: 200px;
}

#pedido {
    display: inline-block;
    width: 100px;
    height: 50px;
}

.caixa a {
    text-decoration: none;
    color: #ff8a00;
}

.caixa a:hover {
    color: rgb(4, 4, 58);
}

.titulo {
    position: absolute;
    width: 658px;
    height: 36px;
    margin: 109px 325px 0px 326px;
    background-color: #ff8a00;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
}

.titulo h2 {
    position: relative;
    text-align: center;
    margin-top: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.formulario {
    width: 658px;
    height: 345px;
    margin: 185px 325px 83px 326px;
    background-color: #F3EDED;
}

#label-cod {
    position: absolute;
    margin: 20px 0 0 10px;  
    width: 125px;
    height: 20px; 
    font-family: 'montserrat'; 
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}   

#cod-produto {
    margin-top: 45px;
    width: 112px;
    height: 28px;
    margin-left: 10px;
    background: #e9e7e7;
    box-shadow: 0px 25px 25px -25px rgba(0, 0, 0, 0.25);
    border-color: #e9e7e7;
}

#label-nome {
    position: absolute;
    margin: 20px 0 0 40px;  
    width: 179px;
    height: 20px;
    font-family: 'montserrat'; 
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;  
}

#nome {
    width: 314px;
    height: 28px;
    margin-left: 40px;
    background: #ffffff;
    box-shadow: 0px 25px 25px -25px rgba(0, 0, 0, 0.25);
    border-color: #FFFFFF;
}

#label-preco {
    position: absolute;
    margin: 20px 0 0 40px; 
    width: 95px;
    height: 20px;
    font-family: 'montserrat'; 
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

#preco {
    width: 102px;
    height: 28px;
    margin-left: 40px;
    background: #ffffff;
    box-shadow: 0px 25px 25px -25px rgba(0, 0, 0, 0.25);
    border-color: #FFFFFF;
}

#label-area {
position: absolute;     
margin-left: -610px;
margin-top: 90px;
width: 179px;
height: 20px;
font-family: 'montserrat'; 
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #000000;
}

.formulario textarea {
    position: absolute;
    width: 635px;
    height: 127px;
    left: 335px;
    top: 390px;
    background: #ffffff;
    box-shadow: 0px 25px 25px -25px rgba(0, 0, 0, 0.25);
    border-color: #FFFFFF;
}

#cadastrar-produto {
position: absolute;
width: 229px;
height: 54px;
left: 569px;
top: 530px;
background: #ff8a00;
border: 1px solid #ffffff;
box-sizing: border-box;
border-radius: 6px;
color: #FFFFFF;
font-family: 'montserrat'; 
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
}

.formulario #cadastrar-produto:hover {
    background: rgb(3, 3, 51);
}

.formulario #cadastrar-produto:active {
    background: green;
}

#sair {
    position: absolute;
    width: 102px;
    height: 54px;
    left: 821px;
    top: 530px;
    background: #ff8a00;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    color: #FFFFFF;
    font-family: 'montserrat'; 
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.formulario #sair:hover {
    background: rgb(3, 3, 51);
}

.formulario #sair:active {
    background: green;
}

