<div class="container">
  <a href="">Home</a><br />
  <a href="gerarPedido">Gerar Pedido</a><br />
  <a href="cadastrarProduto">Cadastrar Produto</a><br />
  <h3 class="title-h3">GERAR PEDIDO</h3>
  <div class="box">
    <form action="#">
      <table class="table">
        <thead>
          <tr>
            <th>
              <input class="input" type="text" placeholder="Pesquisar Código" />
            </th>
            <th class="th-title">Preço</th>
            <th class="th-title">Quantidade</th>
            <th class="th-title">Sub-Total</th>
          </tr>
        </thead>

        <tbody class="tbody">
          <tr>
            <td>D-Tudo</td>
            <td>R$ 5,00</td>
            <td>2</td>
            <td>R$ 10,00</td>
          </tr>
          <tr>
            <td>X-Dogão</td>
            <td>R$ 5,00</td>
            <td>2</td>
            <td>R$ 10,00</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>Total a Pagar</td>
            <td class="total">R$ 20,00</td>
          </tr>
        </tbody>
      </table>
      <div class="confirmarPedido">
        <button class="button" type="submit">Confirmar Pedido</button>
        <button class="button" type="submit">Sair</button>
      </div>
    </form>
  </div>
</div>
