body {
    margin: 0%;
    padding: 0%;
    background-color: #f5f5f5;
}

.container {
    margin-top: 200px;
}

.title-h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF8A00;
    width: 650px;
    padding: 6px;
    margin: auto;
    border-radius: 4px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.input {
    padding: 6px;
    width: 250px;
    margin-right: 30px;
}

.th-title {
    background-color: #FF8A00;
    padding: 6px;
    border-radius: 4px;
    
}

.tbody {
    margin-top: 30px;

}

.table td {
    padding: 10px;
    box-shadow: 0px 7px 5px rgb(221, 221, 221);
    width: 100px;
    background-color: #fff;
}
.table .total {
    background-color: #FF8A00;
    padding: 10px;
    box-shadow: 0px 7px 5px rgb(221, 221, 221);
    width: 100px;
}
.confirmarPedido {
    text-align: right;
}

.button {
    background-color: #FF8A00;
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
    border-style: none;
}